@font-face{
	font-family:'TitanOne-Regular';
	src:url('DancingScript-Regular.ttf');
}

body{
	margin-top: 0;
	background-color: #02010a;
	font-family: 'TitanOne-Regular';
	
}

		a { color: #FFF; }
		
		#container {
			max-width: 900px;
			margin: 0 auto;
		}
		
		section#header{
			width: 100%;
			display: table;
			flex-flow: row wrap;
			background-color: #5b7989;
			border-radius: 10px 10px 0 0;
			animation:  HeaderAnimation 3s;
		}
		
		@keyframes HeaderAnimation{
			0%{
					margin-top: 150%;
				}
			60%{
					margin-top: -5%;
				}
			100%{
					margin-top: 0%;
				}
		}
		
		section#header div{
			width: 50%;
			display: table-cell;
		}		
		
		section#header h1, section#header ul{
			padding: 0 15px;
		}
		section#header div.titulo  h1{
			text-shadow: 2px 2px #02010a;
			text-align: left;
			color: white;
		}

		section#header div.navegacion{
			text-align: right;
		}
		
		nav ul{
			list-style: none;
		}
		
		nav li{
	 		display: inline;
		}
		
		div#img_central{
			padding: 15px;
			background-color: #82c3a6;
			text-align: center;
		}
		
		div#img_central img{
			width: 100%;
		}
		
		div#img-secundaria{
			padding: 15px;
			background-color:  #d5c75f;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
		}
		
		div#img-secundaria > div{
		text-align: center;
			width: 50%;
		}
		
		div#img-secundaria img{
			border: 1px solid;
			width: 100%;
		}
		div.imagen1 img:hover{
			-ms-transform: rotate(10deg);
			-webkit-transform: rotate(10deg);
			transform: rotate(10deg);
			-webkit-filter:drop-shadow(10px 10px 3px #82c3a6);
	
		}
		div.imagen2 img:hover{
			-ms-transform: translate(20px, -5px); /* IE 9 */
    	-webkit-transform: translate(20px, -5px); /* Safari */
    	transform: translate(20px, -5px);
		}
		div [class*="imagen"] img:hover{
			border: 2px solid;
			-webkit-filter:drop-shadow(10px 10px 3px #82c3a6 );
			transition-duration: 2s;
		}
		
		figcaption a{
			color: black;
/*			text-decoration: underline;*/
		}
		
		section#footer{
		padding: 0 15px;
		display: flex;
    flex-flow: row wrap;
    border-radius: 0 0 10px 10px;
		background-color: #C6d5c5;
		}
		
		section#footer div{
			width: 25%;
		}
		section#footer ul{
			list-style-type: none;
			padding: 0;
		}
		section#footer a{
			color: black;
		}
		section#footer ul li img{
			padding: 0 5px 0 0;
		}

		/*Media Query*/
		
		/*celulares*/
		@media (max-width:899px){
			nav ul{
			}
			div#img-secundaria > div{
				width: 100%;
			}
			div.header{
				display: flex;
			}
			div.titulo h1{
				text-align: center;
			}
			
			section#header div{
				width: 100%;
				display:block;
				text-align: center;
			}
			
			section#footer div{
			width: 100%;
		}
		}
		/*PC Y MAS */
		@media (min-width:900px){
			
		}
